@import url(https://fonts.googleapis.com/css?family=Alef:400,700&subset=latin,hebrew);

.round-image {
    border-radius: 50%!important;
}

h5 {
    text-align: center;
    font-weight: bold;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: alef!important;
}

img#logo {
	margin-top: 10px;
}